<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Eventos, artesanias y mas</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Festival Internacional de José Alfredo Jiménez</strong> 
                        </div>
                            
                        El Festival José Alfredo Jiménez nace para potencializar la Serenata que con motivo de la muerte del Rey, año con año se celebra en su honor. El pueblo dolorense desde 1973, el año de su partida, cada 22 de noviembre y a manera de reconocimiento, canta sus canciones y visita su tumba durante toda la noche. El recuerdo del compositor mexicano de mayor renombre, se apodera de Dolores Hidalgo, en cada casa, en cada negocio, en cada corazón, se vive la nostalgia del amor y desamor, principales temas de sus canciones. Artistas como Reyli, José Julian, Alejandra Orozco, Roberto Limón, El Mariachi Vargas de Tecatitlán, Paloma Jiménez, entre muchos más han visitado el escenario del jardín principal para formar parte del más grande de los homenajes, el de la ciudad que lo vió nacer. Inicia 22 de noviembre
                        
                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="http://www.milenio.com/cultura/jose_alfredo_jimenez-canciones-aniversario-test-musica_ranchera-milenio-noticias_MILIMA20170119_0221_11.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d929.3842660972923!2d-100.5239088708178!3d21.2897804991161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d4ce7dd00b7499%3A0x781619d56b5c8b32!2sCalle+Cruz+Blanca+425%2C+Col+del+Sol%2C+37900+San+Luis+de+la+Paz%2C+Gto.!5e0!3m2!1ses-419!2smx!4v1480607200923" class="img-thumbnail"></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>