<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Tradiciones y costumbres</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Fiesta del Señor de los Aflijidos</strong> 
                        </div>
                            
                       LA COMUNIDAD MÁS ANTIGUA DE DOLORES HIDALGO ES VISITADA POR MILES DE PERSONAS PARA VISITAR EL TEMPLO DEL SEÑOR DE LOS AFLIGIDOS <br>

                    Dolores Hidalgo Cuna de la Independencia Nacional; Gto.-Son ya 255 años de veneración al patrono de la comunidad del llanito, miles de persona de toda la república se dan cita desde el 31 de diciembre y hasta el 1 de enero para la fiesta donde el sincretismo prehispánico y el catolicismo se mezclan para hacer de esta festividad la más grande y tradicional de Dolores Hidalgo.

                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="http://www.travel-leon.net/wp-content/uploads/2010/64c754ff995e_4D7/Templo_Llanito_03.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.1848859386087!2d-100.94383708549296!3d21.145039285935404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842b3fa22f7f3d01%3A0xf5853efb0e56880f!2sCamino+a+Los+Llanitos%2C+Dolores+Hidalgo+Cuna+de+la+Independencia+Nacional%2C+Gto.%2C+M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1502925605504"n></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>