<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Eventos, artesanias y mas</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Caravana de día de reyes</strong> 
                        </div>
                            
                       Caravana por las principales calles de la ciudad con carros alegóricos alusivos al día de Reyes y Personajes infantiles. Familias enteras se reúnen en las principales calles de la Cuna de la Independencia, para presenciar la caravana de Reyes Magos organizada por la parroquia de Nuestra Señora de los Dolores y algunas asociaciones civiles. Los participantes en la caravana muestran sus mejores atuendos y algunos interpretan canciones navideñas tradicionales, durante el recorrido. Los Reyes Magos desfilan a caballo, por lo que muchos niños dolorenses aprovechan su presencia para entregarles personalmente su carta de peticiones.

                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="http://noticias.doloreshidalgo.gob.mx/wp-content/uploads/2016/01/FJP_5438-750x410.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d929.3842660972923!2d-100.5239088708178!3d21.2897804991161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d4ce7dd00b7499%3A0x781619d56b5c8b32!2sCalle+Cruz+Blanca+425%2C+Col+del+Sol%2C+37900+San+Luis+de+la+Paz%2C+Gto.!5e0!3m2!1ses-419!2smx!4v1480607200923" class="img-thumbnail"></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>