<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Tradiciones y costumbres</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Celebración de Semana Santa</strong> 
                        </div>
                            
                        Inicia con el concurso de altares a la Virgen de los Dolores y finaliza con la procesión del silencio la cual recorre las calles de la ciudad. Es una tarea fundamental para proyectar las tradiciones que se tienen en Dolores Hidalgo, ya que la semana santa es uno de los atractivos más turísticos del lugar.
                        Cada año se da un programa el cual se ven los inicios de cuando comenzara la semana santa ya que cada año varía las fechas que se realiza, para ello la seguridad es muy importante hacia los ciudadanos y los turistas para ello se inicia el programa con un arranque del operativo. Se realizan actividades culturales, deportivas y recreativas, son llevadas a cabo en el centro de Dolores Hidalgo ya que es el punto donde asisten miles de turistas.

                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="http://www.elclima.com.mx/gif/dolores4.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735.4777496040535!2d-100.93485223615255!3d21.15733315560035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6469145d4c0a4ac!2sPlaza+del+Grande+Hidalgo!5e0!3m2!1ses-419!2smx!4v1502924702726" ></iframe>
            </div>

           
                </div>

                </div>
                </div>
                </div>