<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Tradiciones y costumbres</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Dia de Muertos</strong> 
                        </div>
                            
                       Festival donde se viene a enriquecer nuestras tradiciones populares, entre las que se encuentra: paseo de catrinas, concurso de alfeñiques y altar de muertos, obras de teatro, ciclo de cine de terror, talleres y exposiciones.
                       Con el título “Vamos a dar la vuelta” catrines y catrinas disfrutaron de la convivencia , la calle Guanajuato, Veracruz, Puebla, Morelos, Michoacán y el Jardín Principal, se convirtierten por unos instantes en el reflejo de la magia de las tradiciones que se heredan de los ancestros.

                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="https://ecoturismoesoterico2.files.wordpress.com/2010/10/untitled.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735.4777496040535!2d-100.93485223615255!3d21.15733315560035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6469145d4c0a4ac!2sPlaza+del+Grande+Hidalgo!5e0!3m2!1ses-419!2smx!4v1502924702726" ></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>