<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Gastronomia de DH</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Mercado de Dolores Hidalgo</strong> 
                        </div>
                       
                       Se pueden degustar los chiles de chorro, exquisitos moles, chiles rellenos, tortas de carnitas, enchiladas mineras, los garbanzos guanajuatenses, los duros (chicharrón de cerdo bañado con salsa de chile martajado con limón), cueritos y orejas de cerdo en escabeche, garbanzos crudos condimentados con chile piquín, limón y sal, gorditas de horno elaboradas con piloncillo y maíz, así como las gorditas de papa hechas con maíz martajado y queso.     
                       

                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="https://patrimonioequio1.files.wordpress.com/2015/03/image22.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1208.6676434515055!2d-100.93589555086004!3d21.15760508724749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xddedd197607bf282!2sMercado+Hidalgo!5e0!3m2!1ses-419!2smx!4v1502924607460"></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>