<div class="col-sm-9">
<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            DH-Events <small>Tradiciones y costumbres</small>
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->
            <!--Galeria aqui-->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="alert alert-info alert-dismissable">
                            <strong>Festival del Viernes de Dolores/Virgen de la Soledad</strong> 
                        </div>
                            
                        En Dolores Hidalgo, se festeja a la Virgen de la Soledad el último domingo de mayo, en el templo de la Soledad de Piedrita, en esta celebración se lleva a cabo una gran kermesse, participan grupos de danzantes y nunca falta la quema de juegos pirotécnicos. En ésta celebración a la Virgen Dolorosa o de los Dolores, patrona del Pueblo se realizan altares monumentales en diversas casas del centro histórico, se realiza una procesión y se regalan aguas, paletas y nieve de frutas de temporada (las famosas de Dolores).
                        
                    </div>
                    <div class="col-lg-4">
                    <!--poner una tipo galeria-->
                    <div class="alert alert-info alert-dismissable">
                    
                        <img src="https://i.ytimg.com/vi/x-7r9HLEFSs/hqdefault.jpg" class="img-thumbnail">
                        </div>
                     <!--teminar la tipo galeria-->
                        <div class="img-thumbnail">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735.4777496040535!2d-100.93485223615255!3d21.15733315560035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6469145d4c0a4ac!2sPlaza+del+Grande+Hidalgo!5e0!3m2!1ses-419!2smx!4v1502924702726" ></iframe>
            </div>
                </div>

                </div>
                </div>
                </div>