/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 10px;
    max-height: none;
    position: fixed;

  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
}
footer {
    background: #139AB1;
    color: #FFF;
    padding: 15px 0;
}

footer .nav a {
    width: 100%;
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 18px;
 
}

footer .container .row ul {
/*    padding-left: 40px;*/
    list-style: none;
}

footer .nav a:hover {
    text-decoration: underline;
}

footer .logo {
    background: #003459;
    color: #FFF;
    padding: 5px;
    font-weight: 300px;
    border-radius: 0 30px 0 30px;
    font-size: 30px;
    text-align: center;
}

#main {
 padding: 1em;
 background: white;
 flex: 1;
 }
 #side {
padding: 1em 2em;
 background: #141;

 form, div {
 display: inline;
 }

 input {
 font-size: small;
 }

 #cart {
 font-size: smaller;
 color: white;

 table {
 border-top: 1px dotted #595;
 border-bottom: 1px dotted #595;
 margin-bottom: 10px;
 }
 }


 ul {
 padding: 0;

 li {
 list-style: none;

a {
 color: #bfb;
 font-size: small;
 }
 }
 }
}
 }

 @media all and (max-width: 800px) {
 #columns {
 flex-direction: column-reverse;
 }
 }

 @media all and (max-width: 500px) {
 #banner {
 height: 1em;

 }

 #banner .title {
 display: none;
 }
 }
 .depot_form {
fieldset {
background: #efe;
legend {
color: #dfd;
background: #141;
font-family: sans-serif;
padding: 0.2em 1em;
}
div {
margin-bottom: 0.3em;
}
}
form {
label {
width: 5em;
float: left;
text-align: right;
padding-top: 0.2em;
margin-right: 0.1em;
display: block;
}
select, textarea, input {
margin-left: 0.5em;
}
.submit {
margin-left: 4em;
}
br {
display: none
}
}
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 2.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
Fin de la conversación
Escribe un mensaje...

